@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-color:#ebeef1 ;
}


.card{
    
    max-width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 34px;
    padding: 24px 52px;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
    -10px -10px 10px -1px rgba(255,255,255,0.7);
}
.card.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.3);
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
    -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
}
.material-symbols-outlined{
    font-size: 7.8125rem;
}
.wrapper h2{
    color: rgba(0,0,0,0.8);
    margin-top: 20px;
    font-size: 2rem;
    display: grid;
}
.wrapper{
    display: inline-grid;
    justify-content: center;
}
.material-symbols-outlined{
    padding: 20px;
}

.wrapper p{
    line-height: 1.6;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    color: rgb(0,0,0,);
}

.wrapper button{
    display: inline-block;
    background-color: #ebeef1;
    padding: 12px 19px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.6px;
    margin-top: 16px;
    font-weight: 900;
    color: rgba(0,0,0,0.8);
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.7);
}

.wrapper button:active{
    box-shadow: -4px -4px 10px rgba(255,255,255,1), inset 4px 4px 10px rgba(0,0,0,0.05), inset -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px rgba(0,0,0,0.05);
}

.modal {
    position: fixed;
    top: 50%;
    border-radius: 20px;
    font-family: 'Poppins';
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebeef1;
    padding: 20px;
    border: 1px solid #ccc;
    width: 499px;
    height: 490px;
}

.modal .material-symbols-outlined{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 29px;
    color: rgb(44, 44, 44);
    cursor: pointer;
    padding: 0px;
    font-weight: bold;
}
.modal #expand_more{
    top: 15px;
}

.modal::backdrop{
    backdrop-filter: blur(6px);
    
}
.modal .card{
    max-width: 394px;
    margin-left: 32px;
    margin-top: 86px;
    background: #1dff3f;
}


/*--------------------------------*/



.dropdown{
    min-width: 15em;
    position: relative;
    margin: 2em;
}
.dropdown *{
    box-sizing: border-box;
}

.select{
    background: #ebeef1;
    color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.7);
}

.select-clicked{
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.7);
    

}

.select:hover{
    background: #ebeef1;
}
/*
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:6px solid #1c1c1c ;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}*/




.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #ebeef1;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), -10px -10px 10px -1px rgba(255,255,255,0.7);
    border-radius: 20px;
    color: #424242;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display:  none;
    transition: 0.2s;
    z-index: 1;
}

.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 12px;
    cursor: pointer;
}

.menu li:hover{
    background: #dce2e9;
    border-radius: 12px;
}

.active{
    background: #dce2e9;
}

.menu-open{
    display: block;
    opacity: 1;
    margin-top: 22px;
}


.input-field {
    max-width: 394px;
    width: 100%;
    background-color: #f2f2f2;;
    margin: 10px 0;
    margin-left: 32px;
    height: 55px;
    border-radius: 20px;
    display: grid;
    padding: 0 0.4rem;
    position: relative;
    border: none;
      background: transparent;
      padding: 0 20px;
      font-size: 18px;
      box-sizing: border-box;
      outline: none;
      box-shadow: -4px -4px 10px rgba(255,255,255,1),
                 inset 4px 4px 10px rgba(0,0,0,0.05),
                 inset -4px -4px 10px rgba(255,255,255,1),
                 4px 4px 10px rgba(0,0,0,0.05)
  
}

.input-field input {
    font-family: 'Poppins';
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 650;
    font-size: 1.1rem;
    color: #4b4b4b;
  }
  
  .input-field input::placeholder {
    color: #ccc;
    font-weight: 500;
  }


  .btn {
    width: 150px;
    background-color:rgb(236, 240, 243);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 20px;
    color: #272727;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    margin-left: 150px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active{
    box-shadow: -4px -4px 10px rgba(255,255,255,1), inset 4px 4px 10px rgba(0,0,0,0.05), inset -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px rgba(0,0,0,0.05);
    color: #3d3d3d;
    transition: 0.4s;
  
  }
  
  .btn:hover {
    transition: 0.4s;
    transform: scale(1.04);
  }